body {
    background-image: url("transparent-weather.png");
    background-size: cover;
}

li {
    list-style-type: none;
}

ul {
    padding: 0px;
}

h1 {
    font-size: 80px;
    font-color: black;
}

.trashComments,
.trashPost {
    float: right;
    cursor: pointer;
}

.trashComments:hover,
.trashPost:hover {
    color: maroon;
}

.cityBlock {
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: auto;
    background-color: #e6e8ed;
}

.comDiv,
.commentListItem,
.trashPost {
    margin-right: 20px;
    margin-left: 20px;
}

h1,
h2,
h3,
.commentPost {
    font-family: 'Bree Serif', serif;
}

h2 {
    text-transform: uppercase;
}

h3,
h2,
h4,
.commentPost {
    margin-left: 20px;
}

.weatherInput,
.weatherButton,
.commentInput,
.commentButton,
.commentListItem,
h4 {
    font-family: 'Roboto', sans-serif;
}

.commentListItem {
    /*    font-weight: bold;
*/
    font-size: 16px;
    border: 1px solid #dff0d8;
    background-color: #bfd9c7
}

.trashComments {
    color: #3A8382;
}

.weatherButton,
.commentButton,
.commentButton:hover,
.weatherButton:hover,
.weatherButton:active,
.weatherButton:focus,
.weatherButton:visited {
    background-color: #3A8382;
    color: white;
}

span {
    font-weight: bold;
}

.sortButton,
.sortButton:hover,
.sortButton:active,
.sortButton:visited,

.sortHighTempButton,
.sortHighTempButton:hover,
.sortHighTempButton:active,
.sortHighTempButton:visited,

.sortLowTempButton,
.sortLowTempButton:hover,
.sortLowTempButton:active,
.sortLowTempButton:visited {
    background-color: #153838;
    color: white;
}
.sortHighTempButton:focus,
.sortButton:focus,
.sortLowTempButton:focus {
    background-color:#BFD9C7; 
    color:black;
}